@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;0,900;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body .body_header {
  height: 100vh;
  background-image: url(../img/Rectangle.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: -3.5rem;
}

body .body_header .header_navbar {
  position: absolute;
  top: 3rem;
  left: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1548px;
  height: 100px;
  background: #FAFAFA;
  -webkit-box-shadow: 0px 4px 26px rgba(250, 250, 250, 0.54);
          box-shadow: 0px 4px 26px rgba(250, 250, 250, 0.54);
  border-radius: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .body_header .header_navbar nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 643px;
  height: 32px;
}

body .body_header .header_navbar nav i {
  cursor: pointer;
  margin-right: 20px;
  font-size: 20px;
  color: #E55F6A;
}

body .body_header .header_navbar nav ul {
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .body_header .header_navbar nav ul li {
  list-style: none;
}

body .body_header .header_navbar nav ul li a {
  color: #E55F6A;
  text-decoration: none;
  text-transform: capitalize;
  border-bottom: 2px solid #FAFAFA;
  -webkit-transition: 400ms;
  transition: 400ms;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}

body .body_header .header_navbar nav ul li a:hover {
  -webkit-transition: 400ms;
  transition: 400ms;
  border-bottom: 2px solid #E55F6A;
}

body .body_header .header_navbar .navbar_btn {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  padding: 12px 24px;
  gap: 10px;
  position: absolute;
  width: 188px;
  height: 47px;
  left: 1306px;
  top: 27px;
  background: #3B3E99;
  -webkit-transition: 600ms;
  transition: 600ms;
  border-radius: 55px;
  color: #FAFAFA;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}

body .body_header .header_navbar .navbar_btn:hover {
  -webkit-transition: 600ms;
  transition: 600ms;
  background-color: #181955;
}

body .body_header h1 {
  position: absolute;
  width: 850px;
  left: 164px;
  top: 250px;
  font-family: 'Raleway';
  font-weight: 900;
  font-size: 120px;
  color: #21248C;
}

body .body_header .header_btn {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 600px;
  left: 164px;
  padding: 24px;
  gap: 10px;
  border: none;
  background: #E55F6A;
  border-radius: 55px;
  -webkit-transition: 400ms;
  transition: 400ms;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #FAFAFA;
}

body .body_header .header_btn .btn_circleRow {
  margin-left: 30px;
  gap: 10px;
  overflow: hidden;
  width: 45px;
  background: #E55F6A;
  border-radius: 55px;
  -webkit-transition: 400ms;
  transition: 400ms;
}

body .body_header .header_btn .btn_circleRow .arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  right: 35px;
  -webkit-transition: 400ms;
  transition: 400ms;
}

body .body_header .header_btn .btn_circleRow .arrow li {
  margin-left: 10px;
  list-style: none;
}

body .body_header .header_btn .btn_circleRow .arrow li i {
  font-size: 25px;
}

body .body_header .header_btn:hover {
  background-color: #B2323C;
  -webkit-transition: 400ms;
  transition: 400ms;
}

body .body_header .header_btn:hover .btn_circleRow {
  background-color: #B2323C;
  -webkit-transition: 400ms;
  transition: 400ms;
}

body .body_header .header_btn:hover .arrow {
  background-color: #B2323C;
  -webkit-transition: 400ms;
  transition: 400ms;
  right: -0.2rem;
}

body .body_information {
  height: 100vh;
  background-color: #181955;
}
/*# sourceMappingURL=index.css.map */